# Настройки популярных сред разработки (IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

#pytest-coverage
.coverage
htmlcov/
!index.html

# Байт-код Python (сгенерированные файлы компиляции)
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения (Virtual Environments)
.venv/
venv/
ENV/
env/
target/

# Файлы конфигурации и секреты (переменные окружения)
.env
*.env
.secrets

# Директории зависимостей и сборки пакетов
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Логи и базы данных
*.log
*.sqlite3
